@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: "DM Sans", sans-serif;

  /* Colors*/
  --color-dark: hsl(0, 0%, 1%);
  --color-white: hsl(0, 0%, 100%);
  --color-primary: rgb(119, 51, 255);

  /* Shadows */
  --shadow-button-initial: 0px 0px 0px 0px rgba(126, 80, 235, 0);
  --shadow-button: 0px 0px 0px 4px rgba(126, 80, 235, 0.2);
  --shadow-image: 0px 4px 16px rgb(119, 51, 255);

  /* Header */
  --color-border-header: #202026;
}

body {
  @apply bg-dark font-display text-white;
}
