@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: "DM Sans", sans-serif;

  /* Colors*/
  --color-dark: hsl(0, 0%, 1%);
  --color-white: hsl(0, 0%, 100%);
  --color-primary: rgb(119, 51, 255);

  /* Shadows */
  --shadow-button-initial: 0px 0px 0px 0px rgba(126, 80, 235, 0);
  --shadow-button: 0px 0px 0px 4px rgba(126, 80, 235, 0.2);
  --shadow-image: 0px 4px 16px rgb(119, 51, 255);

  /* Header */
  --color-border-header: #202026;

  /* Badget */
  --color-badget: #12121c;
  --color-badget-text: rgb(190, 175, 255);

  /* Card */
  --color-card-bg: #05050a;
  --color-card-border: #17181a;
  --shadow-card: 0px 8px 24px 0px rgba(0, 0, 0, 0.04);
  --color-card-icon-bg: #12121c;
  --shadow-card-icon: 0px 0px 8px 0px inset rgba(0, 0, 0, 0.2);
}

body {
  @apply bg-dark font-display text-white;
}
